<h2>About Study Buddy</h2>
<p>
	Study Buddy is an application geared to college students living in this digital age. The purpose of Study Buddy is to allow students to interact with one another through an interactive online GUI. This GUI allows students to create study groups for help with homework, studying, labs, and more. Study Buddy strives to give students the ability to help one another by allowing a single point of communication by which the students can then set up physical meetings. This helps students create friends who are going through the same course load and will hopefully make the semester easier than going solo, especially since most classes have more students than office hours for help.
</p>
<br>
<h2>Frequently Asked Questions</h2>
<div class="span5">
	<p class="question">How can I make an account?</p>
	<p>To make an account, simply click on the Home link in the navigation bar or on the Study Buddy logo at the top. From there, enter a username and password of your choosing and click on "Create New User". Easy!</p>
</div>

<div class="span5">
	<p class="question">How do I add a course to my schedule?</p>
	<p>Once you've made an account and are logged in, click on "Course Catalog" in the navigation bar. From there, find the class you want to add to your schedule and click the intuitively-labeled "Add to Schedule" button.'</p>
</div>
<div class="span5">
	<p class="question">How do I post a question for a class?</p>
	<p>While logged in, click on "My Schedule" in the navigation bar and then from there click on the the course you would like to post a question for. From this page, you can see the list of all questions for the course. If you scroll all the way down on this page, you will see a form prompting you to input your question and title. Simply fill these fields out and click on "Create Comment", and your comment will be posted for other students in the course to view and reply to.</p>
</div>
<div class="span5">
	<p class="question">How can I clear my schedule?</p>
	<p>When logged in, click on "My Schedule" in the navigation bar. On this page, click "Clear Schedule". Be careful when doing this! All classes currently on your schedule will then be removed and your schedule will be blank.</p>
</div>
